python-scripts/load-data-from-json/__pycache__/helpers_sql.cpython-311.pyc
python-scripts/load-data-from-json/.vscode/launch.json
python-scripts/load-data-from-json/__pycache__/helpers.cpython-311.pyc
python-scripts/load-data-from-json/__pycache__/main.cpython-311.pyc
python-scripts/load-data-from-json/script.log
